
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
<link href="grid/simple-grid.min.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet" type="text/css">

@{
    ViewData["Title"] = "Sobre";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>ainda to sem ideias</p>
