
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
<link href="grid/simple-grid.min.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet" type="text/css">

@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Desenvolvedora .net Junior<br />
    Me encontre pelos links abaixo<br />
    <!--<abbr title="Phone"></abbr>-->

</address>

<address>

    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/gabrielle-p-792b8511a/">GabriellePrado</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/GabriellePrado">https://github.com/GabriellePrado</a><br />
    <strong>Email:</strong> <a href="mailto:gabriellesprado@gmail.com">gabriellesprado@gmail.com</a>
</address>
